<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form>
      <div class="form-group">
        <label class="sr-only">房间名</label>
        <input type="input" required class="form-control search-room-input" ng-change="searchRoom()" ng-model="searchKey" placeholder="搜索房间" />
      </div>
    </form>
  </div>
</div>
<div class="row">
  <ul class="room-list clearfix">
    <li  ng-repeat="room in filteredRooms" class="room-item">
      <div class="room-content" ng-click="enterRoom(room)">
        <h3>{{room.name}}<span class="badge pull-right">{{room.users.length}}人</span></h3>
        <div class="avatar-list">
            <span ng-repeat="user in room.users" title="{{user.name}}">
              <img alt="{{user.email}}" ng-src="{{user.avatarUrl}}" class="img-rounded"/>
            </span>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="row no-room" ng-show="filteredRooms.length == 0 && searchKey">
    <form class="form-inline no-room-form">
      <div class="form-group">
        没找到你想要的房间<strong class="label label-default no-room-label">{{searchKey}}</strong>，<button class="btn btn-warning" ng-click="createRoom()">点击新建</button>
      </div>
    </form>
</div>