<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form>
      <div class="form-group">
        <label class="sr-only">Room name</label>
        <input type="input" required class="form-control search-room-input" ng-model="searchKey" placeholder="Search Room" />
      </div>
    </form>
  </div>
</div>
<div class="row">
  <ul class="rooms">
    <li  ng-repeat="room in rooms">
      <div>
        <h3>{{room.name}}<span class="badge pull-right">{{room.users.length}}</span></h3>
        <div>
            <span ng-repeat="user in room.users" title="{{user.name}}">
              <img alt="{{user.email}}" src="{{user.avatar}}" class="img-rounded"/>
            </span>
        </div>
      </div>
    </li>
  </ul>
</div>