<!DOCTYPE html>
<html ng-app="nodechatApp">
  <head>
    <title>NodeChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/src/style.css" rel="stylesheet" media="screen">
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/components/angular/angular.js"></script>
    <script type="text/javascript" src="/src/index.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">NodeChat</a>
        </div>
      </div>
    </div>

    <div class="container" style="margin-top:100px;">
      <div class="row">

        <div class="col-md-4">
          <div class="list-group room-list" ng-controller="RoomListCtrl">
            <div class="list-group-item room-item" ng-repeat="room in rooms">
              <h4>{{room.name}}<span class="badge pull-right">{{room.users.length}}</span></h4>
              <div class="avatar-list">
                  <span ng-repeat="user in room.users">
                    <img alt="{{user.email}}" src="{{user.avatar}}" class="img-rounded"/>
                  </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="panel panel-default room">
            <div class="panel-heading room-header">Teambition</div>
            <div class="panel-body">
              <div class="timeline">
                <div class="list-group">
                </div>
              </div>
              <form class="form-inline message-creator">
                <div class="form-group">
                  <input type="text" class="form-control message-input" placeholder="say something">
                </div>
                <button type="submit" class="btn btn-success btn-send">send</button>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>